.fondo{
	width: 750px;
	height: 620px;
	position: relative;
}
.titulo{
	background-color: #FFC300;
	width: 750px;
	height: 30px;
	border: 1px solid black;
	position: absolute;
}
.tituloh4{
	margin-top: 6px;
	text-align: center;
}
.antes{
	width: 250px;
	height: 560px;
	border: 1px solid black;
	position: absolute;
	top: 31px;
}
.t-antes{
	text-align: center;
}
.p-antes{
	text-align: justify;
	padding: 10px;
}
.img-antes{
	width: 220px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.centro{
	width: 248px;
	height: 560px;
	border: 1px solid black;
	left: 251px;
	top: 31px;
	position: absolute;
}
.t-centro{
	text-align: center;
}
.p-centro1{
	text-align: justify;
	padding: 10px;
}
.p-centro2{
	text-align: justify;
	padding: 10px;
}
.despues{
	width: 250px;
	height: 560px;
	border: 1px solid black;
	left: 500px;
	top: 31px;
	position: absolute;
}
.t-despues{
	text-align: center;
}
.p-despues{
	text-align: justify;
	padding: 10px;
}
.img-despues{
	width: 220px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.info{
	background-color: #FFC300;
	width: 750px;
	height: 30px;
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
}
.bottom{
	margin-top: 6px;
	text-align: center;
}